body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
}


#box{
    width: 600px;
    height: 700px;
    background-color: rgb(0, 0, 0, 0.5) ;
    
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 70px;
    padding-bottom: 80px;
    margin-top: 100px;
    margin-bottom: 150px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10%;

}

img {
    max-width: 200px;
    max-height: 105px;
    padding-left: 200px;
}

h1{
    color: rgb(36, 255, 36);
    padding-left: 100px;
    
}

.click{
    background-color: rgb(36, 255, 36) !important;
    padding-left: 140px !important;
    
}

.b1{
    height: 20px !important;
    background-color: rgb(238, 180, 74) !important;
    border-radius: 10%;
    max-width: 200px;

}

.b2{
    height: 20px !important;
    background-color: rgb(5, 182, 73) !important;
    border-radius: 10%;
    max-width: 350px;

}

.b3{
    height: 20px !important;
    background-color: rgb(206, 52, 52) !important;
    border-radius: 10%;
    max-width: 80px;

}
